html
  box-sizing: border-box
  font-family: sans-serif
  height: 100%

  *,
  ::after,
  ::before
    box-sizing: inherit

body
  display: flex
  flex-direction: column
  height: 100%
  min-height: 100%
  min-width: 320px
  overflow-x: hidden
  overflow-wrap: break-word

  &.overflow
    overflow: hidden

.page-content
  flex: 1 0 auto
  padding-bottom: 50px
  padding-top: 120px

  @media(min-width: 1350px)
    padding-top: 160px

.container
  margin-left: auto
  margin-right: auto
  max-width: 1920px
  padding-left: 20px
  padding-right: 20px

  @media(min-width: 1350px)
    padding-left: 40px
    padding-right: 40px

  @media(min-width: 1900px)
    padding-left: 100px
    padding-right: 100px
