<div class="filter">
    <div class="filter__top">
        <div class="filter__top-title">Фильтры:</div>
        <div class="filter__top-section">
            <button class="js-filter-section-toggler filter__top-button" type="button">
                Цена
                <svg>
                    <use xlink:href="#small_arrow_down"></use>
                </svg>
            </button>
            <div class="filter__top-dropdown">
                <div class="price-inputs">
                    <div class="price-inputs__item">
                        <span class="price-inputs__item-title">от</span>
                        <input class="js-min price-input" type="text" placeholder="от 4900" value="4900">
                    </div>
                    <div class="price-inputs__item">
                        <span class="price-inputs__item-title">до</span>
                        <input class="js-max price-input" type="text" placeholder="до 28000" value="28000">
                    </div>
                </div>
                <input class="js-price-slider" type="text" name="price_range" value="" />
            </div>
        </div>
        <div class="filter__top-section">
            <button class="js-filter-section-toggler filter__top-button" type="button">
                Наличие
                <svg>
                    <use xlink:href="#small_arrow_down"></use>
                </svg>
            </button>
            <div class="filter__top-dropdown">
                <div class="filter__list-outer">
                    <ul class="filter__list">
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">В наличии</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Под заказ</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter__top-section">
            <button class="js-filter-section-toggler filter__top-button" type="button">
                Производитель
                <svg>
                    <use xlink:href="#small_arrow_down"></use>
                </svg>
            </button>
            <div class="filter__top-dropdown">
                <div class="filter__list-outer">
                    <ul class="filter__list">
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" disabled />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Adidas</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Alpin</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Длинныйбренддля проверки</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Ammity</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Atlas</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">AMF</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">AppleGate</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">BH Fitness</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">BH Fitness</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Adidas</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Alpin</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Altezani</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Ammity</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Atlas</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">AMF</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">AppleGate</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">BH Fitness</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">BH Fitness</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="filter__top-section">
            <button class="js-filter-section-toggler filter__top-button" type="button">
                Тип
                <svg>
                    <use xlink:href="#small_arrow_down"></use>
                </svg>
            </button>
            <div class="filter__top-dropdown">
                <div class="filter__list-outer">
                    <ul class="filter__list">
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" disabled />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Тип 1</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Тип 2</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Тип 3</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Тип 4</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Тип 5</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="js-filter-opener filter-opener" type="button">
            <img src="images/icons/filter.svg" alt="">
            <span class="filter-opener__desktop">Больше фильтров</span>
            <span class="filter-opener__mobile">Фильтр</span>
        </button>
        <div class="filter__sort">
            <span class="filter__sort-title">Сортировать:</span>
            <label class="select-wrapper">
                <span class="select-wrapper__container">
                    <select class="js-sorting">
                        <option class="asc" value="1">По цене</option>
                        <option class="desc" value="2">По цене</option>
                        <option class="asc" value="3">По популярности</option>
                        <option class="desc" value="4">По популярности</option>
                        <option class="asc" value="5">По алфавиту</option>
                        <option class="desc" value="6">По алфавиту</option>
                    </select>
                </span>
            </label>
        </div>
    </div>
    <div class="filter__bottom">
        <div class="js-scrooler filter__resets">
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Цена:</span>
                <span class="filter-reset__text">От 12 000 ₽ до 50 000 ₽</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Производитель:</span>
                <span class="filter-reset__text">Adidas</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Производитель:</span>
                <span class="filter-reset__text">Vision</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Тип:</span>
                <span class="filter-reset__text">Вертикальный</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Система нагружения:</span>
                <span class="filter-reset__text">Колодочная</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Цена:</span>
                <span class="filter-reset__text">От 12 000 ₽ до 50 000 ₽</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Производитель:</span>
                <span class="filter-reset__text">Adidas</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Производитель:</span>
                <span class="filter-reset__text">Vision</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Тип:</span>
                <span class="filter-reset__text">Вертикальный</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Система нагружения:</span>
                <span class="filter-reset__text">Колодочная</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Цена:</span>
                <span class="filter-reset__text">От 12 000 ₽ до 50 000 ₽</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Производитель:</span>
                <span class="filter-reset__text">Adidas</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Производитель:</span>
                <span class="filter-reset__text">Vision</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Тип:</span>
                <span class="filter-reset__text">Вертикальный</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
            <button class="filter-reset" type="button" title="Убрать из фильтра">
                <span class="filter-reset__title">Система нагружения:</span>
                <span class="filter-reset__text">Колодочная</span>
                <svg>
                    <use xlink:href="#close"></use>
                </svg>
            </button>
        </div>
        <button class="filter-reset filter-reset--all" type="button">
            <span class="filter-reset__title">Сбросить все</span>
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
    </div>
</div>
<div class="full-filter">
    <div class="full-filter__inner">
        <button class="js-filter-closer full-filter__close" type="button">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <form action="">
            <p class="full-filter__title">Все фильтры</p>
            <div class="full-filter__section">
                <p class="full-filter__section-title">Цена</p>
                <div class="price-inputs">
                    <div class="price-inputs__item">
                        <span class="price-inputs__item-title">от</span>
                        <input class="js-min price-input" type="text" placeholder="от 4900" value="4900">
                    </div>
                    <div class="price-inputs__item">
                        <span class="price-inputs__item-title">до</span>
                        <input class="js-max price-input" type="text" placeholder="до 28000" value="28000">
                    </div>
                </div>
                <input class="js-price-slider" type="text" name="price_range" value="" />
            </div>
            <div class="full-filter__section">
                <p class="full-filter__section-title">Наличие</p>
                <div class="full-filter__list-outer">
                    <ul class="full-filter__list">
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">В наличии</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Под заказ</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="full-filter__section">
                <p class="full-filter__section-title">Производитель</p>
                <div class="full-filter__list-outer">
                    <ul class="full-filter__list">
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" disabled />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Adidas</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Alpin</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Altezani</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Ammity</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Atlas</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">AMF</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">AppleGate</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">BH Fitness</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">BH Fitness</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Adidas</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Alpin</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Altezani</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Ammity</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Atlas</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">AMF</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">AppleGate</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">BH Fitness</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">BH Fitness</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="full-filter__section">
                <p class="full-filter__section-title">Ширина бегового полотна</p>
                <div class="full-filter__list-outer">
                    <ul class="full-filter__list">
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">до 39 см</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">40 - 44 см</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">45 - 49 см</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">50 - 55 см</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">от 56 см</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="full-filter__section">
                <p class="full-filter__section-title">Система нагружения</p>
                <div class="full-filter__list-outer">
                    <ul class="full-filter__list">
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Система 1</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Система 2</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Система 3</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Система 4</span>
                            </label>
                        </li>
                        <li>
                            <label class="checkbox-label">
                                <input type="checkbox" />
                                <span class="checkbox-icon"></span>
                                <span class="checkbox-text">Система 5</span>
                            </label>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="full-filter__buttons">
                <button class="full-filter__apply" type="submit">
                    Фильтровать
                    <svg>
                        <use xlink:href="#arrow_right"></use>
                    </svg>
                </button>
                <button class="full-filter__reset" type="reset">
                    Сбросить всё
                    <svg>
                        <use xlink:href="#close"></use>
                    </svg>
                </button>
            </div>
        </form>
    </div>
</div>