<div class="float-bar compensate-scrollbar">
    <a class="float-bar__link" href="#">
        <span class="float-bar__link-icon">
            <svg>
                <use xlink:href="#personal"></use>
            </svg>
        </span>
        <span class="float-bar__link-text">Профиль</span>
    </a>
    <a class="float-bar__link" href="#">
        <span class="float-bar__link-icon">
            <svg>
                <use xlink:href="#compare"></use>
            </svg>
            <span class="float-bar__link-qnt">2</span>
        </span>
        <span class="float-bar__link-text">Сравнение</span>
    </a>
    <a class="float-bar__link" href="#">
        <span class="float-bar__link-icon">
            <svg>
                <use xlink:href="#fav"></use>
            </svg>
            <span class="float-bar__link-qnt">2</span>
        </span>
        <span class="float-bar__link-text">Избранное</span>
    </a>
    <a class="float-bar__link" href="#">
        <span class="float-bar__link-icon">
            <svg>
                <use xlink:href="#cart"></use>
            </svg>
            <span class="float-bar__link-qnt">2</span>
        </span>
        <span class="float-bar__link-text">Корзина</span>
    </a>
</div>