<footer class="footer">
    <div class="footer__subscribe">
        <div class="container">
            <div class="footer__subscribe-inner">
                <div class="footer__subscribe-text-block">
                    <h3>Будьте в курсе новинок&nbsp;и&nbsp;акций</h3>
                    <p>На нашем сайте мы постоянно размещаем информацию о специальных предложениях, скидках и акциях – сэкономьте и получите ценовые преимущества, следя за новостями</p>
                </div>
                <div class="footer__subscribe-form-block">
                    <form class="footer__subscribe-form" action="">
                        <input class="footer__subscribe-input" name="subscribe" type="text" value="" placeholder="Напишите ваш e-mail">
                        <button class="footer__subscribe-submit" type="submit" disabled>Подписаться</button>
                    </form>
                    <p class="footer__subscribe-form-note">Нажимая на кнопку “Подписаться” вы соглашаетесь с <a href="#">политикой конфиденциальности сайта</a>.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__top">
        <div class="footer__top-inner container">
            <div class="footer__top-right">
                <ul class="footer-catalog">
                    <li><a href="#">Кардиотренажеры</a></li>
                    <li><a href="#">Бокс и единоборства</a></li>
                    <li><a href="#">Велосипеды</a></li>
                    <li><a href="#">Игротека</a></li>
                    <li><a href="#">Теннисные столы</a></li>
                    <li><a href="#">Батуты</a></li>
                    <li><a href="#">Массажное оборудование</a></li>
                    <li><a href="#">Детские городки и комплексы</a></li>
                    <li><a href="#">Силовые тренажеры</a></li>
                    <li><a class="red" href="#">Акции и скидки</a></li>
                </ul>
                <div class="footer-menu">
                    <div class="footer-menu__block">
                        <p class="footer-menu__title">Покупателям</p>
                        <ul class="footer-menu__list">
                            <li><a href="#">FAQ</a></li>
                            <li><a href="#">Гарантия на продукцию</a></li>
                            <li><a href="#">Доставка и оплата</a></li>
                            <li><a href="#">Обмен и возврат</a></li>
                            <li><a href="#">Сборка и установка</a></li>
                            <li><a href="#">Статьи и обзоры</a></li>
                        </ul>
                    </div>
                    <div class="footer-menu__block">
                        <p class="footer-menu__title">О компании</p>
                        <ul class="footer-menu__list">
                            <li><a href="#">О компании</a></li>
                            <li><a href="#">Отдел гос. заказа</a></li>
                            <li><a href="#">Сотрудничество</a></li>
                            <li><a href="#">Дискотные карты</a></li>
                            <li><a href="#">Сертификаты</a></li>
                            <li><a href="#">Вакансии</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer__top-left">
                <div class="footer__logo"><img src="images/logo.svg" alt="SPORTSPOT"></div>
                <p class="footer__phone"><a href="tel:+78007772013">8 800-777-20-13</a></p>
                <p><a href="mailto:nfo@olsp.ru">nfo@olsp.ru</a></p>
                <p>г.&nbsp;Санкт-Петербург ул.&nbsp;Шамшева&nbsp;14</p>
                <div class="footer__socials">
                    <a class="footer__social" href="#" title="Одноклассники" rel="nofollow noreferrer noopener" target="_blank">
                        <svg>
                            <use xlink:href="#ok"></use>
                        </svg>
                    </a>
                    <a class="footer__social" href="#" title="Facebook" rel="nofollow noreferrer noopener" target="_blank">
                        <svg>
                            <use xlink:href="#fb"></use>
                        </svg>
                    </a>
                    <a class="footer__social" href="#" title="Instagram" rel="nofollow noreferrer noopener" target="_blank">
                        <svg>
                            <use xlink:href="#inst"></use>
                        </svg>
                    </a>
                    <a class="footer__social" href="#" title="Вконтакте" rel="nofollow noreferrer noopener" target="_blank">
                        <svg>
                            <use xlink:href="#vk"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__bottom">
        <div class="footer__bottom-inner container">
            <div class="footer__copyright">
                ©Интернет-магазин «‎SportOlimp»‎ 2009-2021. Все&nbsp;права&nbsp;защищены
            </div>
            <div class="footer__bottom-right">
                <div class="footer__bottom-links">
                    <a href="#">Политика в отношении обработки персональных&nbsp;данных</a>
                </div>
                <div class="footer__payments">
                    <img width="53" height="15" src="images/icons/payments/visa.svg" alt="VISA">
                    <img width="33" height="20" src="images/icons/payments/ms.svg" alt="MasterCard">
                    <img width="61" height="24" src="images/icons/payments/yd.png" alt="Яндекс.Деньги">
                </div>
            </div>
        </div>
    </div>
</footer>