<header class="header compensate-scrollbar compensate-for-scrollbar">
    <div class="header__top">
        <div class="header__top-inner container">
            <a class="header__logo" href="main.html">
                <img src="images/logo.svg" alt="На главную">
            </a>
            <ul class="top-menu">
                <li class="top-menu__item"><a class="top-menu__link" href="#">Акции</a></li>
                <li class="top-menu__item"><a class="top-menu__link" href="#">О компани</a></li>
                <li class="top-menu__item"><a class="top-menu__link" href="#">Доставка и оплата</a></li>
                <li class="top-menu__item"><a class="top-menu__link" href="#">Гарантия и сервис</a></li>
                <li class="top-menu__item"><a class="top-menu__link" href="#">Контакты</a></li>
            </ul>
            <div class="header__location-block">
                <div class="location">
                    <button class="js-location-toggler location__toggler" type="button">
                        <svg>
                            <use xlink:href="#pin"></use>
                        </svg>
                        <span>Санкт-Петербург</span>
                    </button>
                    <div class="location__dropdown">
                        <ul class="location__list">
                            <li class="location__list-item">
                                <button class="location__button is-active" type="button">Санкт-Петербург</button>
                            </li>
                            <li class="location__list-item">
                                <button class="location__button" type="button">Москва</button>
                            </li>
                            <li class="location__list-item">
                                <button class="location__button" type="button">Петропавловск-Камчатский</button>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="header__phone-block">
                <a class="header__phone" href="tel:+78123098128">8 812 309-81-28</a>
            </div>
            <div class="header__top-links">
                <a class="header__top-link" href="javascript:void(0)" title="Обратный звонок" data-fancybox="recall" data-src="#recall">
                    <svg>
                        <use xlink:href="#phone"></use>
                    </svg>
                </a>
                <a class="header__top-link" href="#" title="Мы в WhatsApp" target="_blank" rel="nofollow noreferrer noreferrer">
                    <svg>
                        <use xlink:href="#whatsapp"></use>
                    </svg>
                </a>
                <a class="header__top-link" href="#" title="Мы в Telegram" target="_blank" rel="nofollow noreferrer noreferrer">
                    <svg>
                        <use xlink:href="#tg"></use>
                    </svg>
                </a>
            </div>
        </div>
    </div>
    <div class="header__bottom">
        <div class="header__bottom-inner container">
            <button class="js-menu-opener header__burger" type="button">
                <svg>
                    <use xlink:href="#burger"></use>
                </svg>
                <span>Каталог товаров</span>
            </button>
            <div class="header__search">
                <div class="search-block">
                    <form class="search-bar" action="" method="">
                        <input class="search-bar__input" type="text" name="q" value="" autocapitalize="none" autocomplete="off" autocorrect="off" spellcheck="false" placeholder="Поиск по сайту среди 10 000 товаров">
                        <button class="search-bar__submit" type="submit" title="Найти" disabled>
                            <svg>
                                <use xlink:href="#search"></use>
                            </svg>
                        </button>
                    </form>
                    <div class="search-dropdown">
                        <div class="search-dropdown__list">
                            <p class="search-dropdown__title">Категории:</p>
                            <ul class="search-dropdown__categories">
                                <li>
                                    <a href="#">Портативные</a>
                                </li>
                                <li>
                                    <a href="#">Механические</a>
                                </li>
                                <li>
                                    <a href="#">Магнитно-механические</a>
                                </li>
                                <li>
                                    <a href="#">В рассрочку</a>
                                </li>
                                <li>
                                    <a href="#">До 130 кг</a>
                                </li>
                                <li>
                                    <a href="#">Детские</a>
                                </li>
                            </ul>
                            <p class="search-dropdown__title">Товары:</p>
                            <ul class="search-dropdown__links">
                                <li><a href="#">Эллиптический эргометр Unixfit MV-500</a></li>
                                <li><a href="#">Эллиптический эргометр Unixfit MV-500</a></li>
                                <li><a href="#">Эллиптический эргометр Unixfit MV-500</a></li>
                                <li><a href="#">Эллиптический эргометр Unixfit MV-500</a></li>
                                <li><a href="#">Эллиптический эргометр Unixfit MV-500</a></li>
                                <li><a href="#">Эллиптический эргометр Unixfit MV-500</a></li>
                                <li><a href="#">Эллиптический эргометр Unixfit MV-500</a></li>
                                <li><a href="#">Эллиптический эргометр Unixfit MV-500</a></li>
                            </ul>
                            <p class="search-dropdown__title">Вы недавно смотрели:</p>
                            <ul class="search-dropdown__views">
                                <li>
                                    <a href="#">
                                        <img src="images/content/search/img_1.jpg" srcset="images/content/search/img_1@2x.jpg 2x" alt="alt">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/content/search/img_1.jpg" srcset="images/content/search/img_1@2x.jpg 2x" alt="alt">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/content/search/img_1.jpg" srcset="images/content/search/img_1@2x.jpg 2x" alt="alt">
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <img src="images/content/search/img_1.jpg" srcset="images/content/search/img_1@2x.jpg 2x" alt="alt">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="header__personal-block">
                <a class="header__personal" href="#">
                    <svg>
                        <use xlink:href="#personal"></use>
                    </svg>
                    Личный кабинет
                </a>
            </div>
            <div class="header__bottom-links">
                <a class="header__bottom-link" href="#" title="Список сравнения">
                    <svg>
                        <use xlink:href="#compare"></use>
                    </svg>
                    <span class="header__bottom-link-qnt">2</span>
                </a>
                <a class="header__bottom-link" href="#" title="Избранное">
                    <svg>
                        <use xlink:href="#fav"></use>
                    </svg>
                    <span class="header__bottom-link-qnt">2</span>
                </a>
                <a class="header__bottom-link" href="#" title="Корзина">
                    <svg>
                        <use xlink:href="#cart"></use>
                    </svg>
                    <span class="header__bottom-link-qnt">2</span>
                </a>
            </div>
        </div>
    </div>
</header>