<div class="main-menu">
    <nav class="main-menu__inner">
        <button class="js-menu-closer main-menu__close" type="button">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <div class="main-menu__logo"><img src="images/logo.svg" alt="SPORTSPOT"></div>
        <ul class="catalog-menu">
            <li class="catalog-menu__item">
                <a class="catalog-menu__link" href="#">Кардиотренажеры</a>
                <button class="js-submenu-opener catalog-menu__submenu-toggler" type="button" data-menu="1">
                    <svg>
                        <use xlink:href="#small_arrow_right"></use>
                    </svg>
                </button>
            </li>
            <li class="catalog-menu__item">
                <a class="catalog-menu__link" href="#">Силовые тренажеры</a>
                <button class="js-submenu-opener catalog-menu__submenu-toggler" type="button" data-menu="2">
                    <svg>
                        <use xlink:href="#small_arrow_right"></use>
                    </svg>
                </button>
            </li>
            <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Теннисные столы</a></li>
            <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Детские городки и комплексы</a></li>
            <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Велосипеды</a></li>
            <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Игротека</a></li>
            <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Массажное оборудование</a></li>
            <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Бокс и единоборства</a></li>
            <li class="catalog-menu__item"><a class="catalog-menu__link" href="#">Батуты</a></li>
        </ul>
        <ul class="service-menu">
            <li><a class="service-menu__link" href="#">Акции</a></li>
            <li><a class="service-menu__link" href="#">О компани</a></li>
            <li><a class="service-menu__link" href="#">Доставка и оплата</a></li>
            <li><a class="service-menu__link" href="#">Гарантия и сервис</a></li>
            <li><a class="service-menu__link" href="#">Контакты</a></li>
        </ul>
    </nav>
    <div class="catalog-submenu" data-menu="1">
        <button class="js-submenu-closer catalog-submenu__close" type="button">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <p class="catalog-submenu__title">Кардиотренажеры</p>
        <ul class="catalog-submenu__list">
            <li><a href="#">Беговые дорожки</a></li>
            <li><a href="#">Эллиптические тренажеры</a></li>
            <li><a href="#">Велотренажеры</a></li>
            <li><a href="#">Адаптивные тренажеры (АМТ)</a></li>
            <li><a href="#">Гребные тренажеры</a></li>
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
        </ul>
    </div>
    <div class="catalog-submenu" data-menu="2">
        <button class="js-submenu-closer catalog-submenu__close" type="button">
            <svg>
                <use xlink:href="#close"></use>
            </svg>
        </button>
        <p class="catalog-submenu__title">Силовые тренажеры</p>
        <ul class="catalog-submenu__list">
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
            <li><a href="#">Степперы и министепперы</a></li>
            <li><a href="#">Горнолыжные тренажеры</a></li>
            <li><a href="#">Аксессуары для тренажеров</a></li>
        </ul>
    </div>
</div>