<div id="recall" class="popup">
    <p class="popup__title">Нужна помощь?<br> Наш менеджер вам позвонит</p>
    <form action="">
        <label class="input-label">
            <span class="input-label__text">ИМЯ<span class="required">*</span></span>
            <input class="input" type="text" value="" placeholder="Начните вводить ваше имя" />
        </label>
        <label class="input-label">
            <span class="input-label__text">ТЕЛЕФОН<span class="required">*</span></span>
            <input class="js-phone-mask input" type="text" value="" placeholder="+7 (999) 999 99 99" />
        </label>
        <label class="input-label">
            <span class="input-label__text">ПОЖЕЛАНИЯ</span>
            <textarea class="textarea" placeholder="Опишите здесь Ваши проблемы или вопросы..."></textarea>
        </label>
        <div class="popup__button-block">
            <button class="button button--type_1" type="submit">ЗАКАЗАТЬ ЗВОНОК</button>
        </div>
    </form>
</div>