.banner
  margin-left: -20px
  margin-right: -20px

  @media(min-width: 1350px)
    margin-left: -40px
    margin-right: -40px

  @media(min-width: 1900px)
    margin-left: -100px
    margin-right: -100px

  &:not(:last-child)
    margin-bottom: 50px
